<div class="reset-password-container">
  <h2>Reset Password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" type="text" />
      <mat-error
        *ngIf="
          resetPasswordForm.get('username')?.invalid &&
          resetPasswordForm.get('username')?.touched
        "
      >
        Username is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput formControlName="newPassword" type="password" />
      <mat-error
        *ngIf="
          resetPasswordForm.get('newPassword')?.invalid &&
          resetPasswordForm.get('newPassword')?.touched
        "
      >
        New Password is required (minimum 6 characters)
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirm New Password</mat-label>
      <input matInput formControlName="confirmNewPassword" type="password" />
      <mat-error
        *ngIf="
          resetPasswordForm.get('confirmNewPassword')?.invalid &&
          resetPasswordForm.get('confirmNewPassword')?.touched
        "
      >
        Confirm New Password is required
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="resetPasswordForm.invalid"
    >
      Reset Password
    </button>
  </form>

  <p *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
